[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "static/themes/ananke"]
	path = static/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
